# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.MixedRealityWorkspace.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Projects\MixedRealityWorkspace\.idea\.idea.MixedRealityWorkspace\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
